<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About DLC</title>
    <link rel="stylesheet" href="../Styles/Gallery.css">
    <link rel="stylesheet" href="../Styles/aboutdlc.css">
</head>
<body>
    <header class="site-head site-head--normal">
        <div class="site-head_logo">
          <img src="../Assets/logoblack.jpg">
        </div>
        <nav class="site-head_nav">
            <ul class="site-head-menu">
                <a href="aboutdlc.html" style="text-decoration: none;color: white;"><li class="site-head-menu_item">About DLC</li></a>
                <a href="ourWorlds.html" style="text-decoration: none;color: white;"><li class="site-head-menu_item">Our Worlds</li></a>
                <a href="experiences.html" style="text-decoration: none;color: white;"><li class="site-head-menu_item">Experiences</li></a>
                <a href="Gallery.html" style="text-decoration: none;color: white;"><li class="site-head-menu_item">Gallery</li></a>
                <a href="aboutdlc.html" style="text-decoration: none;color: white;"><li class="site-head-menu_item">Press</li></a>
            </ul>
            
        </nav>
     </header>
     <main class="0-page" style="width: 1310px;">
        <article>
            <div>
                <figure class="galleries-hero" style="height:100vh;width:202vh;margin: 0;padding: 0;">
                    <img src="../Assets/aboutdlc1.jpg" > 
                </figure>
                <div class="c-hero_inner" style="top:-510px;align-items: center;">
                    <h1 class="c-hero_title">
                        <div style="font-weight: 100;">Creating your</div>
                        <span style="font-family:gotham; font-weight: 50;">perfect world</span>
                    </h1>
                </div>
                <div class="c-hero_below">
                    <span style="font-size: 1rem;">Scroll to explore</span>
                    <button type="button" class="hero-scroll">
                        <div class="hero-scroll_arrows">
                            <span style="right: 100%;">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 107.8 35.7" style="enable-background:new 0 0 107.8 35.7;" xml:space="preserve">
                                <polygon points="107.8,17.8 81.1,0 81.1,14.2 0,14.2 0,21.5 81.1,21.5 81.1,35.7 "></polygon>
                                </svg>
                            </span>
                            <span style="right: 0;">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 107.8 35.7" style="enable-background:new 0 0 107.8 35.7;" xml:space="preserve">
                                    <polygon points="107.8,17.8 81.1,0 81.1,14.2 0,14.2 0,21.5 81.1,21.5 81.1,35.7 "></polygon>
                                    </svg>
                            </span>
                        </div>
                    </button>
                </div>
                <div class="u-bg" style="top: -60px;">
                        <div style="max-width: 59rem;margin-left: 320px;margin-right: 110px;">
                            <p style="color:#111; text-align: center;line-height: 1.4;font-size: 42px;margin:0;padding:0;">
                                <div style="display: block;position:relative;text-align: center;opacity:1;font-weight: 200;font-family:'Times New Roman', Times, serif;">
                                    Founded in 1994 by Mike Meldman,Discovery Land Company is
                                </div>
                                <div style="display: block;position:relative;text-align: center;opacity:1;font-weight: 100;font-family:'Times New Roman', Times, serif;">
                                    a US-based real estate developer and operator of private residential
                                </div>
                                <div style="display: block;position:relative;text-align: center;opacity:1;font-weight: 100;font-family:'Times New Roman', Times, serif;">
                                    club communities and resorts with a world-renowed portfolio of
                                </div>
                                <div style="display: block;position:relative;text-align: center;opacity:1;font-weight: 100;font-family:'Times New Roman', Times, serif;">
                                    domestic and international properties.
                                </div>
                            </p>
                        </div>
                </div>
                <div style="display: flex;justify-content: space-between;position: relative;">
                        <div style="order: 1;position: relative;left: 190px;top:70px">
                            <h2 style="position: relative;left: 30px;line-height: 2.3;font-size:xx-large;font-weight: 100;font-family:'Times New Roman', Times, serif;">
                                Our Mission
                            </h2>
                            <div class="para1">
                                <p >
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        We dont build buildings,but rather we build settings 
                                    </div>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        where families can create intergenerational memories
                                    </div>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        and enrich their lives in exquisite and untouched
                                    </div>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        sanctuaries.Everything we do is driven by the
                                    </div>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        fundamental desires to create spaces.
                                    </div>
                                    <br><br>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        These settings offer a relaxed and comfortable sense of
                                    </div>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        community featuring outstanding clubhouses,
                                    </div>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        incredible residential offerings,premier golf courses,all
                                    </div>
                                    <div style="display: block;text-align: start;position: relative;opacity: 1;color: #777;font-family:sans-serif;font-size: .9rem;line-height: 2;">
                                        offering highest of service standards to enrich your experience.
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div style="order: 2;margin-left: 50px;position: relative;left: 70px;">
                            <figure style="object-fit: cover;"><img src="../Assets/aboutdlc2.jpg" height="600px" width="600px"></figure>
                        </div>
                </div>
                <div style="position: relative;top: 150px;margin-left: 110px;">
                    <section >
                        <div style="display: flex;gap: 40px;">
                            <div><h1 style="font-size: calc(21px+1.3vw);font-family: sans-serif;font-weight: 200;padding-left: 40px;">The Discovery Difference</h1></div>
                            <div style="display: flex;margin-left: 700px;">
                                <img src="../Assets/aboutdlc3.1.jpg"><img src="../Assets/aboutdlc3.2.jpg">
                            </div>
                        </div>
                        <div class="slider_slides">
                            <article class="c-slide">
                                <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.1.jpg" height=40px>
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Focus on family</h1>
                                        <p class="c-slide__text">Our properties have always been inspired by and created for families. We build settings that are as welcoming to everyone as they are exclusive.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                                <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.2.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Incomparable experiences</h1>
                                        <p class="c-slide__text">World-renowned golf courses, state-of-the-art fitness facilities, personalized outdoor concierge programs – our communities deliver unmatched amenities and service for all members of the family.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                             <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.3.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Inspired by land</h1>
                                        <p class="c-slide__text">Each property respectfully integrates the local architecture, culture, and cuisine to create an authentic and immersive experience.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                                <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.4.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Sustainable future</h1>
                                        <p class="c-slide__text">Through a focus on sustainable and regenerative efforts, we create programs that ensure we leave a positive footprint on the land.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                                 <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.5.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Luxury bespoke homes</h1>
                                        <p class="c-slide__text">Through our in-house Discovery Builders and Discovery Creative we offer luxury turn-key homes for families that embody modern aesthetics while staying true to the classic principles of design.</p>
                                    </div>
                                 </div>
                            </article> 
                            <article class="c-slide">
                                <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.1.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Focus on family</h1>
                                        <p class="c-slide__text">Our properties have always been inspired by and created for families. We build settings that are as welcoming to everyone as they are exclusive.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                                <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.2.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Incomparable experiences</h1>
                                        <p class="c-slide__text">World-renowned golf courses, state-of-the-art fitness facilities, personalized outdoor concierge programs – our communities deliver unmatched amenities and service for all members of the family.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                             <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.3.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Inspired by land</h1>
                                        <p class="c-slide__text">Each property respectfully integrates the local architecture, culture, and cuisine to create an authentic and immersive experience.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                                <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.4.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Sustainable future</h1>
                                        <p class="c-slide__text">Through a focus on sustainable and regenerative efforts, we create programs that ensure we leave a positive footprint on the land.</p>
                                    </div>
                                </div>
                            </article>
                            <article class="c-slide">
                                 <div style="width:47.5vw">
                                    <figure class="side-bg o-cover">
                                        <img src="../Assets/aboultdlc4.5.jpg">
                                    </figure>
                                    <div class="slide_content">
                                        <h1 class="c-slide__title">Luxury bespoke homes</h1>
                                        <p class="c-slide__text">Through our in-house Discovery Builders and Discovery Creative we offer luxury turn-key homes for families that embody modern aesthetics while staying true to the classic principles of design.</p>
                                    </div>
                                 </div>
                            </article>  
                        </div>
                    </section>                   
                </div>
            </div>
        </article>
     </main>

</body>
</html>