<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery Land Company</title>
    <link rel="stylesheet" href="../Styles/Gallery.css">
</head>
<body>
     <header class="site-head site-head--normal">
        <div class="site-head_logo">
          <img src="../Assets/logomain.jpg">
        </div>
        <nav class="site-head_nav">
            <ul class="site-head-menu">
                <li class="site-head-menu_item">About DLC</li>
                <li class="site-head-menu_item">Our Worlds</li>
                <li class="site-head-menu_item">Experiences</li>
                <li class="site-head-menu_item">Gallery</li>
                <li class="site-head-menu_item">Press</li>
            </ul>
            <button type="button">button</button>
        </nav>
     </header>
     <main class="o-page">
        <article class="u-bg-black">
            <div class="galleries-hero">
                <img src="../Assets/galleryhero.jpg" alt="">
            </div>
            <div class="galleries">
                <article>
                    <figure class="galleries-item_thumb">
                        <img src="../Assets/galleryimages1.jpg" alt="">
                    </figure>
                    <h1 class="galleries-item_title">Outdoor Pursuits</h1>
                </article>
                <article>
                    <figure class="galleries-item_thumb">
                        <img src="../Assets/galleryimages2.jpg" alt="">
                    </figure>
                    <h1 class="galleries-item_title">Golf</h1>
                </article>
                <article>
                    <figure class="galleries-item_thumb">
                        <img src="../Assets/galleryimages3.jpg" alt="">
                    </figure>
                    <h1 class="galleries-item_title">Lifestyle</h1>
                </article>
                <article>
                    <figure class="galleries-item_thumb">
                        <img src="../Assets/galleryimages4.jpg" alt="">
                    </figure>
                    <h1 class="galleries-item_title">Landscapes</h1>
                </article>
                <article>
                    <figure class="galleries-item_thumb">
                        <img src="../Assets/galleryimages5.jpg" alt="">
                    </figure>
                    <h1 class="galleries-item_title">Clubhouses</h1>
                </article>
                <article>
                    <figure class="galleries-item_thumb">
                        <img src="../Assets/galleryimages6.jpg" alt="">
                    </figure>
                    <h1 class="galleries-item_title">Wellness</h1>
                </article>
            </div>
            <div class="o-page_bottom">
                <footer class="site-foot">
                    <div class="o-row">
                        <div class="site-foot_top">
                            <p><img src="../Assets/logo.jpg"></p>
                            <nav class="site-foot_nav">
                                <div>
                                    <h4 class="site-foot_title">Get in touch</h4>
                                    <ul class="ul1">
                                        <li class="site-foot-menu_item">(480) 624-5200</li>
                                        <li class="site-foot-menu_item">mail@discoverylandco.com</li>
                                    </ul>
                                    <br>
                                    <h4 class="site-foot_title">Real Estate</h4>
                                    <ul class="ul1">
                                        <li class="site-foot-menu_item">realestate@discoverylandco.com</li>
                                    </ul>
                                </div>
                                <div class="site-foot_menus"> 
                                    <ul class="ul2">

                                    
                                        <li class="site-foot-menu_item">About DLC</li>
                                        <li class="site-foot-menu_item">Our Worlds</li>
                                        <li class="site-foot-menu_item">Experiences</li>
                                        <li class="site-foot-menu_item">Gallery</li>
                                        <li class="site-foot-menu_item">Press</li>
                                    </ul>
                                    <ul class="ul3">
                                        <li class="site-foot-menu_item">Careers</li>
                                        <li class="site-foot-menu_item">Foundation</li>
                                        <li class="site-foot-menu_item">Company</li>
                                        <li class="site-foot-menu_item">Contact</li>
                                        <li class="site-foot-menu_item">Privacy</li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="site-foot_bottom" style="display: flex;justify-content: space-between;flex-wrap: wrap;">
                            <div>© Discovery Land Company. All rights reserved.</div>
                            <div>Site by outpost</div>
                        </div>
                    </div>
                </footer>
            </div>
        </article>
     </main>
</body>
</html>